{% extends 'AppCalendary/base.html' %}
{% load static %}

{% block title %}
    AppCalendary | Vacaciones
{% endblock title %}

{% block content %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'AppCalendary/assets/img/avataaars.svg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Vacaciones</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Aquí encontrás todas las vacaciones</p>
    </div>
</header>
<br><br>
<div class="container">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Vacaciones</h5>
        <div class="d-flex justify-content-center gap-4">
          <a href="{% url 'vacaciones:vacaciones_list' %} " class="btn btn-primary w-50">Listado de Vacaciones</a>
          <a href="{% url 'vacaciones:vacaciones_create'%} " class="btn btn-primary w-50">Crear Vacaciones</a>
        </div>
      </div>
    </div>
</div><br><br>
{% endblock content %}